


.tip {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  background: #b0ca9f;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
  min-height: 23px;
}


.tip.info {
  background: #b9d4e6;
  color:#1ea7fd;
}

.tip.danger {
  background: #eecece;
  color: #ca1919;
}

.tip.warning {
  background: #e0d7b9;
  color: #bf9c3c;
}